{% extends 'front/base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/sport2.jpg' %}">
        </div>
        <div class="small-info">
            <h1>About Us</h1>
        </div>
    </div>

    <center><div class="section">
    <div class="container">
    <div class="card" style="width: 40rem;"><br>
        <img src="{% static 'front/img/dery7.jpeg' %}" style="max-width: 30%;">
        <div class="card-body">
          <h5>Nama: Dery Dinata</h5>
          <h5>Nim: 2011102441185</h5>
          <h5>Fakultas: Sains & Teknologi</h5>
          <h5>Prodi: S1 Teknik Informatika</h5>
          <br>
        </div>
    </div>
    </div>
    </div></center>

    <div class="section">
        <div class="container">
            <h2 class="section-title">Sosial media</h2>
            <div class="section"></div>
            <div class="team-presentation">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-gray" src="{% static 'front/img/whatsapp.jpg' %}" alt="..."/>
                                    <b><h4 class="title">Whatsapp</b>
                                        <hr>
                                        <p>+62 858-***-***-**</p>
                                    </h4>
                                </div>
                            </div>  
                        </div> <!-- end card-->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="content">
                                <div class="author">
                                    <a href="https://instagram.com/dery.dinata?igshid=YmMyMTA2M2Y=">
                                        <img class="avatar border-gray" src="{% static 'front/img/instagram2.jpg' %}" alt="..."/>
                                        <b><h4 class="title">Instagram</b>
                                            <hr>
                                            <p>@dery.dinata</p>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <!-- <div class="image"></div> -->
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="{% static 'front/img/email.jpg' %}" alt="..."/>
                                        <b><h4 class="title">Email</b>
                                            <hr>
                                            <p>derydinata**@gmail.com</p>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our team -->

    <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

        <div class="section section-gray section-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Find offers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Discover Projects
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title"> Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   How it works
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   24/7 Available
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   We are hiring
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Send Info
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title"> Help</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Money Back
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                 <div class="col-md-3">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                   <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                   The best kit in the market is here, just give it a try and let us...
                                   <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                  <a href="#" >
                                   <i class="fa fa-twitter"></i>
                                   We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <hr />
            <div class="copyright">
                &copy; website dery dinata
            </div>
        </div>
    </footer>
{% endblock content %}