{% extends 'front/base.html' %}

{% load static %}

{% block content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/sport.png' %}" alt="..." />
        </div>
        <div class="small-info">
            <h1>SPORT NEWS</h1>
        </div>
    </div>

    <div class="section section-description">
           <div class="container">
               <h2 class="section-title">Sejarah</h2>
               
               <div class="row">
                <div class="col-md-6">
                   <h5>Sepak Bola</h5>
                   <p>
                    Sejarah sepak bola dunia kali pertama dimulai pada abad ke-19 di tanah Britania Raya, yakni Inggris. Pada saat itu, sepak bola telah berkembang dan menjadi salah satu cabang olahraga yang paling banyak dimainkan oleh masyarakat dari berbagai penjuru dunia. Tak heran, apabila olahraga ini sudah populer sejak dulu dan semakin disukai sampai sekarang.
                    Sebelum berkembang dan terkenal seperti saat ini, ada beberapa versi terkait siapa pencetus pertama kali sepak bola. Ada yang menyatakan bahwa permainan sepak bola sebenarnya berasal dari China. Namun, ada juga versi lain yang menyebutkan bahwa sepak bola berasal dari Romawi.</p>
               </div>
               <div class="col-md-6">
                    <div id="description-carousel" class="carousel fade" data-ride="carousel">
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                                <img src="{% static 'front/img/sepakbola3.jpg' %}" alt="..." />
                            </div>
                          </div>
                    </div>
               </div>
            </div>
            
            <div class="space-20"></div>
            <hr>
            <div class="space-20"></div>

            <div class="row">
               <div class="col-md-6">
                  <div class="img-container">
                      <img src="{% static 'front/img/motogp.jpg' %}" alt="..." />
                  </div>
               </div>
               <div class="col-md-6">
                   <h5>moto GP</h5>
                   <p>Antara tahun 1949 dan 2001 kelas 500cc adalah kelas paling tinggi dalam balapan GP Motor.
                    MotoGP adalah penerus kelas 500cc. Pabrikan yang berlaga di kelas ini sebenarnya ada empat merek yang seluruhnya dari Jepang yaitu Honda, Yamaha, Suzuki dan Kawasaki. Sejak lama mereka tidak menganggap kelas ini sebagai cerminan bagus dari pasar komersial untuk mesin jalanan. Dalam konsultasi yang erat dengan FIM, akhirnya diputuskan untuk membuat kelas empat tak di mana mesinnya dibatasi maksimal 990 cc.
                    Pabrik-pabrik Eropa seperti Ducati juga memutuskan untuk pindah ke kelas baru ini dengan beberapa produsen kecil independen. Pada tahun 2002, mesin MotoGP empat tak pertama bersaing bersama dengan mesin dua tak 500cc keluar pada musim 500cc terakhir. </p>
               </div>
           </div>
           <div class="row">
            <div class="col-md-6">
               <h5>Bulu Tangkis</h5>
               <p>Bulu tangkis atau yang dikenal dengan nama badminton merupakan suatu permainan olahraga raket yang dimainkan oleh dua orang atau dua pasangan yang saling berlawanan.
                Menurut sebuah modul yang berjudul “Shuttlecock/Kock Menari Indah di Udara” yang diakses melalui laman sumberbelajar, Kementerian Pendidikan dan Kebudayaan, olahraga yang satu ini berkembang di Mesir Kuno sekitar 2000 tahun yang lalu.
                Akan tetapi, ada juga yang mengatakan bahwa bulu tangkis juga sudah mulai disebut-sebut di India dan juga Cina.</p>
           </div>

           <div class="space-40"></div>
           <hr>
           <div class="space-40"></div>

           <div class="col-md-6">
                <div id="description-carousel" class="carousel fade" data-ride="carousel">
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="{% static 'front/img/bulutangkis.jpg' %}" alt="..." />
                        </div>
                      </div>
                </div>
           </div>
        </div>

        <div class="space-40"></div>
        <hr>
        <div class="space-40"></div>
        
        <div class="section">
        <div class="row">
           <div class="col-md-6">
              <div class="img-container">
                  <img src="{% static 'front/img/futsal.jpg' %}" alt="..." />
              </div>
           </div>
           <div class="col-md-6">
               <h5>Futsal</h5>
               <p>Permainan futsal pada mulanya dipopulerkan di kota Montevideo, Uruguay pada tahun 1930, oleh Juan Carlos Ceriani. Keunikan dari futsal memperolah perhatian yang positif di seluruh Negara Bagian Amerika Selatan, terutama di Negara Brasil.
                Ketrampilan yang dikembangkan dalam permainan ini bisa dilihat melalui berbagao gaya terkenal dunia yang telah diperlihatkan oleh para pemain Brasil di luar ruangan atau yang lebih tepatnya berada di lapangan berukuran biasa.</p>
           </div>
       </div>
           </div>
       </div>

       <div class="space-20"></div>
       <hr>
       <div class="space-20"></div>
        
       <div class="container">
       <div class="row">
        <div class="col-md-6">
           <h5>Pencak Silat</h5>
           <p>
            Sejarah Pencak Silat. Para ahli sejarah pencak silat Indonesia memperkirakan bahwa bela diri ini sudah ada sejak abad ke-7 Masehi.
            Sejarah pencak silat pada awalnya berkembang dari kemampuan suku asli Indonesia dalam berburu dan perang yang biasa menggunakan alat perang seperti parang, perisai, dan tombak.
        </p>
       </div>
       <div class="col-md-6">
            <div id="description-carousel" class="carousel fade" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{% static 'front/img/pencaksilat.jpg' %}" alt="..." />
                    </div>
                  </div>
            </div>
       </div>
       </div>
    </div><!-- section -->
    
    <div class="space-50"></div>

    <div class="section section-gray section-clients">
        <div class="container">
            <h2 class="section-title">team me</h2>
            <div class="clients-presentation">
                <div class="row">
                    <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <img src="{% static 'front/img/sandy.jpeg' %}" style="width: 80px;" style="height: 80px;"/>
                            </div>
                            <div class="description">
                                <h4> Sandy Erlansyah </h4>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <img src="{% static 'front/img/halim.jpeg' %}" style="width: 80px;" style="height: 80px;"/>
                            </div>
                            <div class="description">
                                <h4> Andi Nur Halim </h4>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <img src="{% static 'front/img/anggiq.jpeg' %}" style="width: 70px;" style="height: 60px;"/>
                            </div>
                            <div class="description">
                                <h4> Anggiq Karisma </h4>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <img src="{% static 'front/img/irqi.jpeg' %}" style="width: 100px;" style="height: 150px;"/>
                            </div>
                            <div class="description">
                                <h4> Irqi Anbi Fahrezi </h4>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our clients -->

     <hr>
    <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Find offers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Discover Projects
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title"> Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   How it works
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   24/7 Available
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   We are hiring
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Send Info
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title"> Help</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Money Back
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                 <div class="col-md-3">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                   <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                   The best kit in the market is here, just give it a try and let us...
                                   <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                  <a href="#" >
                                   <i class="fa fa-twitter"></i>
                                   We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <hr />  
        </div>
    </footer>


</div> <!-- wrapper -->
{% endblock content %}

